<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<appSettings>
		<add key="EmailTemplateDirectoryPath" value="E:/sitesroot/0/Content/Emails/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<connectionStrings>
		<add name="MyLunchBoxDevelopmentEntities" connectionString="metadata=res://*/Models.Dish.csdl|res://*/Models.Dish.ssdl|res://*/Models.Dish.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:krdxc7mj0h.database.windows.net,1433;Database=MylunchboxTest;User ID=LBUser@krdxc7mj0h;Password=lBox!2013;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;persist security info=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="MyLunchBox" connectionString="Server=tcp:krdxc7mj0h.database.windows.net,1433;Database=MylunchboxTest;User ID=LBUser@krdxc7mj0h;Password=lBox!2013;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	
	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
		<healthMonitoring xdt:Transform="Replace" enabled="true" heartbeatInterval="0">
			<providers>
				<add
				name="EngineeringEmailProvider"
				type="MyLunchBox.Utilities.MyLunchBoxWebEventProvider"
				from="gracian.ani@gmail.com"
				to="gracian.ani@gmail.com"
				subjectPrefix=" [Debug] "
				bodyFooter="Please investigate ASAP"
				buffer="false"
				bufferMode="Critical Notification"
				maxMessagesPerNotification="1"
			/>
			</providers>
			<rules>
				<add
				provider="EngineeringEmailProvider"
				name="All Errors"
				eventName="All Errors" />
			</rules>
		</healthMonitoring>
	</system.web>
</configuration>