@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MobileMaster.cshtml";
}

<div data-role="page">
  <div data-role="header" class="hicbg">
    <h1><img src="/Content/Images/hicfood.png" alt="HICFood.com"></h1>
  </div>
  <!-- /header -->
  
  <div data-role="content">
    <p>Welcome to Home Impression Chinese Food.com!</p>
    <img src="/Content/Images/home.png">

    <ul data-role="listview" data-theme="a">
        <li>
            @Html.ActionLink("Create LunchBox", "SelectUniversity")
        </li>
    </ul>
  </div>
  <!-- /content -->
</div>
<!-- /page -->
